# Environment files
.env
.env.backup
.env.production

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE / editor files
/.idea
/.vscode
/.phpunit.cache
/.phpactor.json
/.zed
/.fleet
/.nova

# Composer / PHP
/vendor
/auth.json
Homestead.json
Homestead.yaml
.phpunit.result.cache

# Node / frontend
/node_modules
/public/build
/public/hot

# Storage / keys
/public/storage
/storage/*.key
/storage/pail
